<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>D0001</key>
		<dict>
			<key>Order_Count</key>
			<integer>10</integer>
			<key>Ranking_Level</key>
			<integer>1</integer>
		</dict>
		<key>D0002</key>
		<dict>
			<key>Order_Count</key>
			<integer>700</integer>
			<key>Ranking_Level</key>
			<integer>4</integer>
		</dict>
		<key>D0003</key>
		<dict>
			<key>Order_Count</key>
			<integer>80</integer>
			<key>Ranking_Level</key>
			<integer>3</integer>
		</dict>
		<key>D0004</key>
		<dict>
			<key>Order_Count</key>
			<integer>9</integer>
			<key>Ranking_Level</key>
			<integer>2</integer>
		</dict>
		<key>D0006</key>
		<dict>
			<key>Order_Count</key>
			<integer>600</integer>
			<key>Ranking_Level</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>D0001</key>
		<dict>
			<key>Order_Count</key>
			<integer>10</integer>
			<key>Ranking_Level</key>
			<integer>5</integer>
		</dict>
		<key>D0003</key>
		<dict>
			<key>Order_Count</key>
			<integer>29</integer>
			<key>Ranking_Level</key>
			<integer>2</integer>
		</dict>
		<key>D0004</key>
		<dict>
			<key>Order_Count</key>
			<integer>15</integer>
			<key>Ranking_Level</key>
			<integer>4</integer>
		</dict>
		<key>D0005</key>
		<dict>
			<key>Order_Count</key>
			<integer>30</integer>
			<key>Ranking_Level</key>
			<integer>1</integer>
		</dict>
		<key>D0006</key>
		<dict>
			<key>Order_Count</key>
			<integer>17</integer>
			<key>Ranking_Level</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
