<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>D0001</key>
	<dict>
		<key>Describe</key>
		<dict>
			<key>Complete</key>
			<string>韓式泡菜的微辣感，伴合著軟硬適中的糯米飯，絕佳的搭配，您～不可以錯過！</string>
			<key>Simple</key>
			<string>韓式泡菜的微辣感，伴合著軟硬適中的糯米飯，絕佳的搭配，您～不可以錯過！</string>
		</dict>
		<key>Dish_Kind</key>
		<integer>0</integer>
		<key>Dish_Name</key>
		<string>韓式鍋粑飯</string>
		<key>Dish_Price</key>
		<integer>120</integer>
		<key>Dish_Set</key>
		<dict>
			<key>Set_Name</key>
			<string>異國風情</string>
			<key>Set_No</key>
			<string>S00001</string>
			<key>Set_Note</key>
			<string>濃濃的異國風情，是許多人嚮往的世界。異國主廚系列將帶領著您，品嚐各個不同角落的特色風味，讓您不用出遠門，也能環遊世界喔！</string>
		</dict>
		<key>Images</key>
		<array>
			<dict>
				<key>filename</key>
				<string>0.png</string>
				<key>Is_Main</key>
				<true/>
				<key>path</key>
				<string>DishImages</string>
			</dict>
		</array>
		<key>isSuggest</key>
		<false/>
		<key>Segment_No</key>
		<integer>1</integer>
		<key>Type</key>
		<integer>0</integer>
		<key>willShow</key>
		<true/>
	</dict>
	<key>D0002</key>
	<dict>
		<key>Describe</key>
		<dict>
			<key>Complete</key>
			<string>以辣豆乳炒過的箭筍，輔以燉煮多時的東坡肉，這種微妙的搭配，包你吃過還想再吃。</string>
			<key>Simple</key>
			<string>以辣豆乳炒過的箭筍，輔以燉煮多時的東坡肉，這種微妙的搭配，包你吃過還想再吃。</string>
		</dict>
		<key>Dish_Kind</key>
		<integer>0</integer>
		<key>Dish_Name</key>
		<string>箭筍座東坡</string>
		<key>Dish_Price</key>
		<integer>198</integer>
		<key>Dish_Set</key>
		<dict>
			<key>Set_Name</key>
			<string>特色風味</string>
			<key>Set_No</key>
			<string>S00002</string>
			<key>Set_Note</key>
			<string>常見的菜餚，常見的食材，搭配一些巧思，菜餚也能豐富你我的味蕾，滿足您的渴望！</string>
		</dict>
		<key>Images</key>
		<array>
			<dict>
				<key>filename</key>
				<string>1.png</string>
				<key>Is_Main</key>
				<true/>
				<key>path</key>
				<string>DishImages</string>
			</dict>
		</array>
		<key>isSuggest</key>
		<true/>
		<key>Segment_No</key>
		<integer>1</integer>
		<key>Type</key>
		<integer>0</integer>
		<key>willShow</key>
		<true/>
	</dict>
	<key>D0003</key>
	<dict>
		<key>Describe</key>
		<dict>
			<key>Complete</key>
			<string>嚴選雞隻活動力最旺盛的大腿肌肉，以桃木煙燻製成。厚實的口感，隱約搭配桃木得清香，是你不可錯過的特選主菜！</string>
			<key>Simple</key>
			<string>嚴選雞隻活動力最旺盛的大腿肌肉，以桃木煙燻製成。厚實的口感，隱約搭配桃木得清香，是你不可錯過的特選主菜！</string>
		</dict>
		<key>Dish_Kind</key>
		<integer>1</integer>
		<key>Dish_Name</key>
		<string>煙燻雞全腿</string>
		<key>Dish_Price</key>
		<integer>198</integer>
		<key>Dish_Set</key>
		<dict>
			<key>Set_Name</key>
			<string>風味幻想</string>
			<key>Set_No</key>
			<string>S10001</string>
			<key>Set_Note</key>
			<string>常見的菜餚，常見的食材，搭配一些巧思，菜餚也能豐富你我的味蕾，滿足您的渴望！</string>
		</dict>
		<key>Images</key>
		<array>
			<dict>
				<key>filename</key>
				<string>2.png</string>
				<key>Is_Main</key>
				<true/>
				<key>path</key>
				<string>DishImages</string>
			</dict>
		</array>
		<key>isSuggest</key>
		<false/>
		<key>Segment_No</key>
		<integer>1</integer>
		<key>Type</key>
		<integer>0</integer>
		<key>willShow</key>
		<true/>
	</dict>
	<key>D0004</key>
	<dict>
		<key>Describe</key>
		<dict>
			<key>Complete</key>
			<string>特製的泰式酸辣醬，包你吃了意猶未盡！包含酥脆的面一口感，您吃過了嗎？</string>
			<key>Simple</key>
			<string>特製的泰式酸辣醬，包你吃了意猶未盡！包含酥脆的面一口感，您吃過了嗎？</string>
		</dict>
		<key>Dish_Kind</key>
		<integer>0</integer>
		<key>Dish_Name</key>
		<string>泰式椒麻雞</string>
		<key>Dish_Price</key>
		<integer>150</integer>
		<key>Dish_Set</key>
		<dict>
			<key>Set_Name</key>
			<string>異國主廚</string>
			<key>Set_No</key>
			<string>S00001</string>
			<key>Set_Note</key>
			<string>濃濃的異國風情，是許多人嚮往的世界。異國主廚系列將帶領著您，品嚐各個不同角落的特色風味，讓您不用出遠門，也能環遊世界喔！</string>
		</dict>
		<key>Images</key>
		<array>
			<dict>
				<key>filename</key>
				<string>3.png</string>
				<key>Is_Main</key>
				<true/>
				<key>path</key>
				<string>DishImages</string>
			</dict>
		</array>
		<key>isSuggest</key>
		<false/>
		<key>Segment_No</key>
		<integer>1</integer>
		<key>Type</key>
		<integer>0</integer>
		<key>willShow</key>
		<true/>
	</dict>
	<key>D0005</key>
	<dict>
		<key>Describe</key>
		<dict>
			<key>Complete</key>
			<string>特製的泰式酸辣醬，包你吃了意猶未盡！包含酥脆的面一口感，您吃過了嗎？</string>
			<key>Simple</key>
			<string>特製的泰式酸辣醬，包你吃了意猶未盡！包含酥脆的面一口感，您吃過了嗎？</string>
		</dict>
		<key>Dish_Kind</key>
		<integer>2</integer>
		<key>Dish_Name</key>
		<string>泰式青木瓜絲</string>
		<key>Dish_Price</key>
		<integer>75</integer>
		<key>Dish_Set</key>
		<dict>
			<key>Set_Name</key>
			<string>異國主廚</string>
			<key>Set_No</key>
			<string>S00001</string>
			<key>Set_Note</key>
			<string>濃濃的異國風情，是許多人嚮往的世界。異國主廚系列將帶領著您，品嚐各個不同角落的特色風味，讓您不用出遠門，也能環遊世界喔！</string>
		</dict>
		<key>Images</key>
		<array>
			<dict>
				<key>filename</key>
				<string>4.png</string>
				<key>Is_Main</key>
				<true/>
				<key>path</key>
				<string>DishImages</string>
			</dict>
		</array>
		<key>isSuggest</key>
		<false/>
		<key>Segment_No</key>
		<integer>1</integer>
		<key>Type</key>
		<integer>0</integer>
		<key>willShow</key>
		<true/>
	</dict>
	<key>D0006</key>
	<dict>
		<key>Describe</key>
		<dict>
			<key>Complete</key>
			<string>特選北海道鮮乳製成的冰淇淋，加上高級巧克力醬，幸福的滋味，值得細心品味!</string>
			<key>Simple</key>
			<string>特選北海道鮮乳製成的冰淇淋，加上高級巧克力醬，幸福的滋味，值得細心品味!</string>
		</dict>
		<key>Dish_Kind</key>
		<integer>3</integer>
		<key>Dish_Name</key>
		<string>巧克力冰淇淋聖代</string>
		<key>Dish_Price</key>
		<integer>60</integer>
		<key>Dish_Set</key>
		<dict>
			<key>Set_Name</key>
			<string>冰淇淋</string>
			<key>Set_No</key>
			<string>S00003</string>
			<key>Set_Note</key>
			<string></string>
		</dict>
		<key>Images</key>
		<array>
			<dict>
				<key>filename</key>
				<string>7.png</string>
				<key>Is_Main</key>
				<true/>
				<key>path</key>
				<string>DishImages</string>
			</dict>
		</array>
		<key>isSuggest</key>
		<true/>
		<key>Segment_No</key>
		<integer>1</integer>
		<key>Type</key>
		<integer>0</integer>
		<key>willShow</key>
		<true/>
	</dict>
	<key>D0007</key>
	<dict>
		<key>Describe</key>
		<dict>
			<key>Complete</key>
			<string>特製的泰式酸辣醬，包你吃了意猶未盡！包含酥脆的面一口感，您吃過了嗎？</string>
			<key>Simple</key>
			<string>特製的泰式酸辣醬，包你吃了意猶未盡！包含酥脆的面一口感，您吃過了嗎？</string>
		</dict>
		<key>Dish_Kind</key>
		<integer>0</integer>
		<key>Dish_Name</key>
		<string>蜂蜜芥末雞腿</string>
		<key>Dish_Price</key>
		<integer>60</integer>
		<key>Dish_Set</key>
		<dict>
			<key>Set_Name</key>
			<string></string>
			<key>Set_No</key>
			<string>S00002</string>
			<key>Set_Note</key>
			<string></string>
		</dict>
		<key>Images</key>
		<array>
			<dict>
				<key>filename</key>
				<string>8.png</string>
				<key>Is_Main</key>
				<true/>
				<key>path</key>
				<string>DishImages</string>
			</dict>
		</array>
		<key>isSuggest</key>
		<true/>
		<key>Segment_No</key>
		<integer>1</integer>
		<key>Type</key>
		<integer>0</integer>
		<key>willShow</key>
		<true/>
	</dict>
	<key>D0008</key>
	<dict>
		<key>Describe</key>
		<dict>
			<key>Complete</key>
			<string>特製的泰式酸辣醬，包你吃了意猶未盡！包含酥脆的面一口感，您吃過了嗎？</string>
			<key>Simple</key>
			<string>特製的泰式酸辣醬，包你吃了意猶未盡！包含酥脆的面一口感，您吃過了嗎？</string>
		</dict>
		<key>Dish_Kind</key>
		<integer>1</integer>
		<key>Dish_Name</key>
		<string>特製北京烤鴨</string>
		<key>Dish_Price</key>
		<integer>60</integer>
		<key>Dish_Set</key>
		<dict>
			<key>Set_Name</key>
			<string></string>
			<key>Set_No</key>
			<string>S00001</string>
			<key>Set_Note</key>
			<string></string>
		</dict>
		<key>Images</key>
		<array>
			<dict>
				<key>filename</key>
				<string>9.png</string>
				<key>Is_Main</key>
				<true/>
				<key>path</key>
				<string>DishImages</string>
			</dict>
		</array>
		<key>isSuggest</key>
		<true/>
		<key>Segment_No</key>
		<integer>1</integer>
		<key>Type</key>
		<integer>0</integer>
		<key>willShow</key>
		<true/>
	</dict>
</dict>
</plist>
